[Unit]
Description=CameoDB Database Server
After=network.target

[Service]
Type=simple
Environment=MALLOC_CONF=background_thread:true,percpu_arena:percpu,oversize_threshold:0,dirty_decay_ms:2000,muzzy_decay_ms:0
ExecStart=/usr/local/bin/cameodb --config /etc/cameodb/cameodb.toml
Restart=on-failure
User=cameodb
Group=cameodb
ProtectSystem=full
PrivateTmp=true

[Install]
WantedBy=multi-user.target
